{% extends 'base.html.twig' %}

{% block title %}Jean-David Daviet{% endblock %}

{% block header %}<h1><a href="{{ path('index') }}">Jean-David Daviet</a></h1>{% endblock %}

{% block body %}

    <div class="wrapper--narrow"><div class="row">

            <div class="catchphrase col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
                <blockquote class="catchphrase__quote">
                    <p class="catchphrase__text">J'aide les organisations de petites et moyennes tailles à développer leur projets internets.</p>
                    <footer class="catchphrase__footer">
                        <picture class="catchphrase__image">
                            <source type="image/webp" srcset="{{ asset('img/jeandaviddaviet.webp') }}">
                            <source type="image/jpeg" srcset="<{{ asset('img/jeandaviddaviet.jpg') }}">
                            <img src="{{ asset('img/jeandaviddaviet.jpg') }}" alt="">
                        </picture>
                        <p class="catchphrase__author reveal">Jean-David Daviet</p>
                    </footer>
                </blockquote>
            </div>

        </div></div>

{% endblock %}
