* {
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  padding-bottom: 50px;
}
img {
  max-width: 100%;
  height: auto;
}

@import "../../node_modules/tiny-slider/src/tiny-slider.scss";
@import "abstracts/variables";

@import "base/reset";
@import "base/utilities";
@import "base/typography";

@import "components/catchphrase";
@import "components/section-homepage";
@import "components/article";
@import "components/code";
@import "components/button";
@import "components/embed-video";
@import "components/comment";
@import "components/pagination";
@import "components/primary-nav";
@import "components/wpblocks";
@import "components/testimony";
@import "components/switchTheme";
@import "components/rss";
@import "components/history.scss";
@import "layout/header";
@import "layout/footer";
