:root {
  --unit: 8px;
  --base-font-size: 1.25rem;
  --base-line-height: 1.6;

  --dark: #333;
  --light-blue: #439bd0;
  --transparent-blue: #c7ddf0;
  --light-gray: #e6e6e6;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

img {
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
  height: auto;
}

@import "../../node_modules/tiny-slider/src/tiny-slider.scss";

@import "base/reset";
@import "base/utilities";
@import "base/typography";

@import "components/article";
@import "components/code";
@import "components/button";
@import "components/user-navigation";
@import "components/wpblocks";
@import "components/testimony";
