{% extends 'base.html.twig' %}

{% block title %}Portfolio – Jean-David Daviet{% endblock %}

{% block header %}<a href="{{ path('index') }}">Jean-David Daviet</a>{% endblock %}

{% block body %}

    <section class="wrapper--narrow">

        <div class="article__title"><h1 itemprop="name">Quelques sites dont j'ai été développeur</h1></div>

        <div class="article__content">
            {% for projet in portfolios %}

            <div>
                <a href="{{ path('projet', { slug: projet.slug }) }}">{{ projet.title }}</a>
            </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}
