.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.225em;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0 solid transparent;
  transition: all 0.3s ease;
  padding: 20px 28px 18px;
  font-size: 14px;
  border-radius: 100px;
  color: #fff;
  background-color: #25222c;
  box-shadow: 5px 20px 30px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;

  @include dark {
    color: #2f2f2f;
    background-color: #dcdcdc;
  }

  &:hover {
    color: #fff;
    background-color: #25222c;
    box-shadow: 5px 20px 30px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.075);
  }
}
