.wrapper--narrow {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10vw;

  @media (min-width: 1000px) {
    padding: 0 100px;
  }

  &.code-block {
    max-width: 100%;
  }

  .code-block & {
    padding-left: 33px;
    padding-right: 33px;

    @media (min-width: 1020px) {
      padding-left: 63px;
      padding-right: 63px;
    }
  }
}
.article-title {
  padding: 0;
  font-size: 2.5rem;
  line-height: 1.2;

  & + .article-content {
    margin-top: 30px;
  }
}
.article-meta {
  margin-bottom: 30px;
  display: block;
}
article {
  a {
    color: var(--light-blue);
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }
  .article-content > ul,
  .article-content > ol {
    box-sizing: border-box;
    position: relative;
  }
  li + li {
    line-height: 1.8;
    margin-top: 20px;
  }
}

.article-contact {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}
.article-outdated {
  margin: 0 0 16px;
  background: var(--light-blue);
  padding: 10px;
  font-size: 0.9rem;
  color: white;
}
