.catchphrase {
  padding: 20px;
  background: transparentize($light-blue, .7);
  margin-bottom: 50px;

  @include dark {
    background: rgba(74, 124, 154, 0.3);
  }

  @include xs {
    display: flex;
    align-items: center;
    padding: 30px;
  }

  &__quote {
    margin: 0;
  }

  &__text,
  &__author {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 5px;

    @include xs {
      font-size: 1.2rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__image {
    border-radius: 50px;
    width: 100%;
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

    @include xs {
      margin-right: 20px;
      align-self: center;
    }
  }

  &__author {
    margin: 0;
    font-size: .9em;
  }
}
