.code-block {
  background: #333;
  margin: 30px 0;

  @include dark {
    background: #1d1d1d;
  }

  pre {
    counter-reset: linenumber;
  }

  code {
    color: white;
    position: relative;
  }

  .token {
    &.punctuation {
      color: white;
    }
    &.tag,
    &.operator {
      color: #fb006c;
    }
    &.class-name,
    &.attr-name,
    &.selector {
      color: #7dcf00;
    }
    &.attr-value,
    &.string {
      color: #d9cb61;
    }
    &.function,
    &.property {
      color: #00d5ec;
    }
    &.comment {
      color: #6f6f58;
    }
    &.keyword {
      color: #ee076d;
    }
    &.parameter {
      color: #f5931c;
      & > .token {
        color: white;
      }
    }
    &.number {
      color: #b181fc;
    }
  }

  .line-numbers-rows {
    position: absolute;
    // pointer-events: none;
    // top: 0;
    // font-size: 100%;
    // left: -3.8em;
    // width: 3em;
    // letter-spacing: -1px;
    // border-right: 1px solid #999;
    user-select: none;
    // background: #444;
    // border: none;
    // bottom: -50px;
    left: -33px;
    top: 0;
    // padding: 50px 0;
    // top: -50px;
    // width: 138px;

    span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber;

      &:before {
        content: counter(linenumber);
        color: #91928a;
        display: block;
        // padding-right: .8em;
        // text-align: right;
      }
    }
  }
}
