.navbar {
  flex: 1;

  .navbar-list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;

    @media only screen and (max-width: 48em) {
      justify-content: flex-end;
      align-items: center;
    }
  }

  .navbar-item {
    padding: 5px 0;

    @media only screen and (min-width: 30em) {
      // 480px
      display: inline-block;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar-link {
  color: var(--dark);
  text-decoration: none;

  @extend %dark_scheme_color;

  @include hover {
    color: var(--light-blue);
  }
}


button.navbar-link {
  @extend .navbar-link;

  appearance: none;
  border: none;
  background: none;
  padding: 0;
  transition: color .3s ease;
  cursor: pointer;
}
