.section-homepage {
  width: 50vw;

  &-image,
  &-content {
    margin-bottom: 50px;
  }

  &-image {
    text-align: center;
  }

  &:nth-child(even) {
    .section-homepage-image {
      order: 2;
    }
  }
}

.homepage-last {
  h3 {
    margin-top: 50px;
  }
  a {
    color: $dark;
    text-decoration: none;

    @include hover {
      color: $light-blue;
    }

    &.more {
      color: $light-blue;

      @include hover {
        text-decoration: underline;
      }
    }
  }
}
