.section-homepage {
  width: 50vw;
  
  &__image,
  &__content {
    margin-bottom: 50px;
  }
  
  &__image {
    text-align: center;
  }

  &:nth-child(even) {
    .section-homepage__image {
      order: 2;
    }
  }
}