.switch-theme {
  position: absolute;
  top: 30px;
  right: 65px;

  .admin-bar & {
    top: 75px;

    @media (min-width: 783px){
      top: 61px;
    }
  }

  svg {
    cursor: pointer;
  }
}

.switch-theme-sun {
  display: none;

  @include dark {
    display: block;
  }
}

.switch-theme-moon {
  display: block;

  @include dark {
    display: none;
  }
}
