.testimonies {
  position: relative;

  &:before {
    // content: "“";
    position: absolute;
    font-size: 15rem;
    opacity: 0.15;
    color: var(--light-blue);
    z-index: -1;
    top: -40px;
    left: -30px;

    @include md {
      font-size: 10rem;
      top: -40px;
      left: 0px;
      transform: rotate(20deg);
      transform-origin: center;
      height: 70px;
    }
  }
}
.testimonies-controls {
  width: 34px;
  height: 68px;
  right: 0;
  position: absolute;
  z-index: 1;
  outline: none;
  pointer-events: none;

  @include md {
    width: 100%;
    height: 34px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
.testimony-arrow {
  position: absolute;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  background: var(--transparent-blue);
  border-radius: 20px;
  fill: white;
  pointer-events: all;

  @include dark {
    background: var(--dark-transparent-blue);
  }

  &:focus {
    outline: auto;
  }

  &[aria-disabled="true"] {
    opacity: 0.2;
    cursor: auto;
  }
}
.testimony-left {
  transform: rotateZ(180deg);
  transform-origin: center;
  top: 0;
}
.testimony-right {
  right: 0;
  top: 40px;

  @include md {
    top: 0;
  }
}
.testimony {
  padding-right: 40px;

  @include md {
    padding: 0 30px;
  }
}
.testimony .wp-block-quote {
  margin: 0;

  @include md {
    margin: 0 30px;
  }

  p {
    display: inline-block;
    margin: 0 0 10px;
  }
  cite {
    padding-left: 10px;
    display: inline-block;
  }
}
