$logoFontSize: 2rem;
.header {
  margin-bottom: 50px;

  & > div > a {
    display: block;
    font-size: $logoFontSize;
    text-decoration: none;
    color: $dark;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 15px 0;

    &:hover,
    &:focus {
      color: $light-blue;
    }
  }
}
h1 {
  padding: 15px 0;
  margin: 0;

  a {
    color: $dark;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: $logoFontSize;

    &:hover,
    &:focus {
      color: $light-blue;
    }
  }
}
