.header {
  margin-bottom: 50px;

  & > div > a {
    display: block;
    font-size: 2.25rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 15px 0;

    @extend %dark_scheme_color;

    &:hover,
    &:focus {
      color: $light-blue;
    }
  }
}
h1 {
  padding: 15px 0;
  margin: 0;

  a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

    @extend %dark_scheme_color;

    &:hover,
    &:focus {
      color: $light-blue;
    }
  }
}
