{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé – Jean-David Daviet{% endblock %}

{% block header %}<a href="{{ path('index') }}">Jean-David Daviet</a>{% endblock %}

{% block body %}

    <div class="wrapper--narrow"><div class="row">

        <h1>Vous n'avez pas l'autorisation d'accéder à ce contenu</h1>

        <p>(Erreur 403 pour les intimes)</p>

    </div></div>

{% endblock %}